<html xmlns:th="http:/www.thymeleaf.org">
<head th:fragment="base" >
    <script type="text/javascript" th:attr="src=${CP_CTXPATH}+'/ext6/ext-all.js'"></script>
    <script type="text/javascript" th:attr="src=${CP_CTXPATH}+'/ext6/ux/Combox'+${CP_SUFFIX}+'.js'"></script>
    <script type="text/javascript" th:attr="src=${CP_CTXPATH}+'/ext6/classic/locale/locale-zh_CN.js'"></script>
    <script type="text/javascript" th:attr="src=${CP_CTXPATH}+'/ext6/cus/vtypeCheck'+${CP_SUFFIX}+'.js?t='+${CP_CURRENTDATETIME}"></script>
    <script type="text/javascript" th:attr="src=${CP_CTXPATH}+'/ext6/cus/common'+${CP_SUFFIX}+'.js?t='+${CP_CURRENTDATETIME}"></script>

</head>
</html>